/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}

/* HEADER */
header {
  background: #222;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h2 {
  font-weight: bold;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  color: #ff9800;
}
a:-webkit-any-link {
    text-decoration: none;
}
/* PRODUCT CARD */
.product-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.product-card:hover {
  transform: scale(1.02);
}

/* BUTTONS */
.btn {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-primary {
  background-color: #ff9800;
  color: white;
}

.btn-primary:hover {
  background-color: #e68900;
}

/* LAYOUT GRID */
.grid {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2px;
  padding: 20px;
}
img{
    margin-left: 10%;
    height: 20vh;
    align-items: center;

}
h3{
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
}
.bg-white{
    width: 25%;
    /* gap: 10%; */
    padding: 2%;

}
.h-48{
    width: 70%;
}
/* LOGIN / REGISTER FORM */
.auth-container {

  width: 400px;
  margin: 50px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
  animation: popin 0.4s ease;
}

.auth-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.auth-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.auth-container button {
  width: 100%;
  background: #ff9800;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.auth-container button:hover {
  background: #e68900;
}
.footer{
    text-align: center;
    position: relative;
    background: #222;
  color: white;
  padding: 15px;
  text-align: center;
  margin-bottom: auto;
}

.h-80{
    width: 20%;
    height: 25vh;
}

/* ANIMATION */
@keyframes popin {
  from {
    transform: scale(0.85);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}



@keyframes fadeIn {
from { opacity: 0; transform: translateY(20px); }
to { opacity: 1; transform: translateY(0); }
}


.animate-fadeIn {
animation: fadeIn 0.5s ease-in-out;
margin: auto;
}